numpy
pandas
matplotlib
seaborn
scikit-learn
spacy
streamlit>=1.56.0,<2.0.0
folium>=0.20.0,<0.21.0
streamlit-folium>=0.27.1,<0.28.0
streamlit-js-eval>=1.0.0,<2.0.0
geopy>=2.4.1,<3.0.0
xgboost
google-generativeai